* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./Nav.css";
@import "./UnderNav.css";

@import "./Footer.css";
@import "./UnderFooter.css";
@import "./Images.css";
@import "./Slider.css";
