.footer {
  padding-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.footer h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.footer li {
  font-size: 15px;
  padding-top: 4px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
