.image {
  padding-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
}

.image img {
  width: 30px;
}
.paycard {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.social {
  width: 20%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
