* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
}

.btn-black:hover {
  background: black !important;
  color: white !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}
@import "./styles/Nav.css";
@import "./styles/UnderNav.css";
@import "./styles//Slider.css";
@import "./styles/Cards.css";
@import "./styles//Footer.css";
